{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Entertaiment - Pagina principal</title>
    <link rel="stylesheet" href="{% static 'styles03.css' %}">
    <link rel="shortcut icon" href="{% static 'logo.png' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>
<body>
    <header>

    <div class="logo">
        <a href="{% url 'inicio' %}">
            <img src="{% static 'logo.png' %}" alt="Logo">
        </a>
    </div>

    <div class="menu">
        <nav>
            <a href="{% url 'home' %}">Inicio</a>
            <a href="{% url 'catalogosuser' %}">Catalogo</a>
            <a href="{% url 'categorias_por_calificacion' %}">Clasificacion</a>
            <a href="{% url 'reciente' %}">Reciente</a>
            <a href="{% url 'foro' %}">Foro</a>
        </nav>
    </div>

    <div class="search-bar">
        <img src="{% static 'buscar.jpg' %}" alt="">
        <input type="text" placeholder="Buscar...">
    </div>

    <div class="perfil">
        <a href="{% url 'perfil' %}" class="perfil-button">Perfil</a>
        <a href="{% url 'logout' %}" class="perfil-button">Cerrar sesion</a>
    </div>
    </header>

    <div class="contenido">
        <h1>Bienvenido, {{ user.nombre }}</h1>
        <p>Descubre lo último en cine, series, música, videojuegos y libros. Aquí encontrarás reseñas, noticias y opiniones sobre tus temas favoritos. ¡Explora y disfruta!</p>
    </div>

    <section class="publicacion">
        <h2>Publicaciones Destacadas</h2>
        <div class="post">
            <h3><a href="#">El Renacer del Cine: Las Mejores Películas del 2024</a></h3>
            <p>Las peliculas no dejan de sorprendernos. ¡No te lo pierdas!</p>
        </div>
        <div class="post">
            <h3><a href="#">Las Series Imperdibles de Esta Temporada</a></h3>
            <p>Contenido actualizado cada mes. ¡No te lo pierdas!</p>
        </div>
        <div class="post">
            <h3><a href="#">Novedades Literarias</a></h3>
            <p>Las ultimas novedades. ¡No te lo pierdas!</p>
        </div>
    </section>

<section>
    <div class="clasificaciones">
        <h2>Clasificaciones</h2>
        <ul>
            <li><a href="#">Películas</a></li>
            <li><a href="#">Series</a></li>
            <li><a href="#">Novelas</a></li>
            <li><a href="#">Libros</a></li>
            <li><a href="#">Videojuegos</a></li>
        </ul>
    </div>
</section>
   
    <footer>
        <div class="copyright">
            <img src="{% static 'copyright.jpg' %}" alt="">
            <p> 2024 Entertaiment</p>
        </div>
        <div class="info">
            <p>Nuestra pagina web brinda a todos los usuarios contenido en
                linea del mundo del entretenimiento.
            </p>
        </div>
        <div class="redes">
            <p>Visita nuestras redes sociales.</p>
            <ul>
                <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a></li>
                <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
